<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
  <add name="employee" connectionString="Data Source=DESKTOP-LHO60ST\SQLEXPRESS;Initial Catalog=emp_management;Integrated Security=True" />
  <add name="Employee_management_system.Properties.Settings.emp_managementConnectionString"
   connectionString="Data Source=DESKTOP-LHO60ST\SQLEXPRESS;Initial Catalog=emp_management;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>